<section class="section-header bg-1">
  <div class="container">	
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h1 class="text-capitalize mb-4 font-lg text-white">Carrito</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section cart">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr style="color: #7a807c;">
              <th>Nombre del Producto</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Eliminar producto</th>
            </tr>
          </thead>
          {{#each salesitems}} 
          <tbody>
            <tr style="color: #7a807c;">
              <th scope="row">{{product_name}}</th>
              <td>$ {{price}}</td>
              <td>
                <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                  <input class="quantity" type="text" value="1" name="quantity">
                </div>
              </td>
              <td>
                <a href="/carritoCompras/baja/{{id_product}}">
                  <i class="far fa-trash-alt fa-lg"></i>
                </a>
              </td>
            </tr>
          </tbody>
          {{/each}}
        </table>
        <div class=" row align-items-center justify-content-center">
            <a href="/payment" class="btn btn-main confirm-btn mt-3 mt-lg-0">Terminar compra</a>
        </div>
      </div>
    </div>
  </div>
</section>  



