<section class="section-header bg-1">
  <div class="container">	
    <div class="row">
    </div>
  </div>
</section>
<section class="section thank">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="font-lg mb-4"> <span class="text-primary">¡Gracias!</span><br>por tu compra</h2>
                <p>Te enviaremos un mail cuando el pago haya sido realizado.</p>
                <div class="mt-4 justify-content-center">
                  <a href="/" class="btn btn-black mt-4 rounded">Ir al inicio</a>
                </div>
            </div>
        </div>
    </div>
</section>