<body>
  <div class="preloader">
    <img src="images/preloader.gif" alt="preloader" class="img-fluid">
  </div>

<!--  Banner start -->
<section class="slider-hero hero-slider  hero-style-1  ">
  <div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
      <!-- start slide-item -->
      <div class="swiper-slide slide-item">
        <div class="slide-inner slide-bg-image main-sider-inner" data-background="images/banner/slide-1.jpg">
          <!-- <div class="overlay"></div> -->
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <span data-swiper-parallax="300" class="text-primary font-extra font-md">Bienvenidos a Kopi Coffee</span>
                <h1 class="mt-3 mb-5 text-lg text-white" data-swiper-parallax="400">Conseguí los desayunos y meriendas más ricas para compartir o regalar</h1>
                <a href="/menu" class="btn btn-main mr-3 rounded" data-swiper-parallax="500">Ver menú</a>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <!-- end slide-item -->
      
      <!-- start slide-item -->
      <div class="swiper-slide slide-item">
        <div class="slide-inner slide-bg-image main-sider-inner" data-background="images/banner/slide-2.jpg">
          <!-- <div class="overlay"></div> -->
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <h1 class="mt-3 mb-5 text-lg text-white" data-swiper-parallax="400">A todos tus favoritos le agregamos más de eso que tanto te gusta</h1>
                <a href="/menu" class="btn btn-main mr-3 rounded" data-swiper-parallax="500">Ver menú</a>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <!-- end slide-item -->
      
      <!-- start slide-item -->
      <div class="swiper-slide slide-item">
        <div class="slide-inner slide-bg-image main-sider-inner" data-background="images/banner/slide-3.jpg">
          <!-- <div class="overlay"></div> -->
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <h1 class="mt-3 mb-5 text-lg text-white" data-swiper-parallax="400">Comprá todos tus productos favoritos y te los llevamos a tu casa</h1>
                <a href="/tienda" class="btn btn-main mr-3 rounded" data-swiper-parallax="500">Ver tienda</a>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <!-- end slide-item -->
    </div>
    <!-- end swiper-wrapper -->
    <!-- swipper controls -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
<!--  Banner End -->

<!-- About Kopi Coffee start -->
<section class="section about">
	<div class="container">
		<div class="row  justify-content-center mb-5">
			<div class="col-lg-8 text-center">
				<span class="text-primary font-extra font-md">Acerca de Kopi Coffee</span>
				<h2 class="mt-3 mb-4">Amamos lo que hacemos y trabajamos para que tu visita sea ante todo una experiencia</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="fade-up">
				<img src="images/about/about-3.jpg" alt="" class="img-fluid">
				<div class="mt-3">
					<h3>Cafes especiales</h3>
					<p>Una edición de exclusivos sabores, realizados con el mejor Café Colombia.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
				<img src="images/about/about-4.jpg" alt="" class="img-fluid">
				<div class="mt-3">
					<h3>Descubrí nuevos sabores</h3>
					<p>Le dimos un nuevo sentido a todo lo rico que ya conocés y te encanta.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="600">
				<img src="images/about/about-5.jpg" alt="" class="img-fluid">
				<div class="mt-3">
					<h3>Tiendas renovadas</h3>
					<p>Veni a conocer nuestra nueva imagen, ¡Te vas a sorprender!</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About Kopi Cofee end -->

<!-- Ad start -->
<section class="section cta">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<span class="font-extra text-md-2 text-white-70"></span>
				<h2 class="mt-3 text-white mb-4"></h2>

				
			</div>
		</div>
	</div>
</section>
<!-- Ad end --> --}}

<!-- Menú start -->
<section class="section menu">
	<div class="container">
		<div class="row  justify-content-center mb-5">
			<div class="col-lg-8 text-center">
				<span class="text-primary font-extra font-md">Nuestro café</span>
				<h2 class="mt-3 mb-4">Primero café, luego todo lo demás</h2>
			</div>
		</div>


		<div class="row shuffle-wrapper food-gallery">
			<div class="col-lg-6 col-md-6 mb-4 shuffle-item">
				<div class="menu-item position-relative ">
					<div class="d-flex align-items-center">
						<img src="images/menu/expreso.jpg" alt="expreso" class="img-fluid mb-3 mb-lg-0">
						<div>
							<h4>Expreso - <span>$120</span></h4>
							<p>Se caracteriza por su rápida preparación y por un sabor y textura más concentrados</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mb-4 shuffle-item">
				<div class="menu-item position-relative ">
					<div class="d-flex align-items-center">
						<img src="images/menu/macchiato.jpg" alt="macchiato" class="img-fluid mb-3 mb-lg-0">
						<div>
							<h4>Macchiato - <span>$170</span></h4>
							<p>Café expreso al cual se le agrega una ligera cantidad de leche, que tiña el café</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mb-4 shuffle-item">
				<div class="menu-item position-relative ">
					<div class="d-flex align-items-center">
						<img src="images/menu/americano.jpg" alt="americano" class=" mb-3 mb-lg-0">
						<div>
							<h4>Americano - <span>150$</span></h4>
							<p>Se prepara añadiendo agua caliente a un espresso, así el café es más suave</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mb-4 shuffle-item">
				<div class="menu-item position-relative ">
					<div class="d-flex  align-items-center">
						<img src="images/menu/latte.jpg" alt="latte" class="img-fluid mb-3 mb-lg-0">
						<div>
							<h4>Latte - <span>$195</span></h4>
							<p>Preparado a base de café espresso, leche al vapor y un centímetro de espuma</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mb-4 shuffle-item">
				<div class="menu-item position-relative ">
					<div class="d-flex align-items-center">
						<img src="images/menu/capucchino.jpg" alt="capucchino" class="img-fluid mb-3 mb-lg-0">
						<div>
							<h4>Capuchino - <span>$220</span></h4>
							<p>Café expreso, una capa de leche y una capa gruesa de espuma</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mb-4 shuffle-item">
				<div class="menu-item position-relative ">
					<div class="d-flex align-items-center">
						<img src="images/menu/bombon.jpg" alt="bombon" class="img-fluid mb-3 mb-lg-0">
						<div>
							<h4>Café bombón - <span>$250</span></h4>
							<p>El café bombón es una mezcla de café expreso endulzado con leche condensada</p>
						</div>

					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mb-4 shuffle-item">
				<div class="menu-item position-relative ">
					<div class="d-flex align-items-center">
						<img src="images/menu/cold_brew.jpg" alt="cold_brew">
						<div>
							<h4>Cold brew - <span>$210</span></h4>
							<p>Café preparado en frío, es la versión más suave y más dulce de esta bebida</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mb-4 shuffle-item">
				<div class="menu-item position-relative ">
					<div class="d-flex align-items-center">
						<img src="images/menu/frappe.jpg" alt="frappe" class="img-fluid mb-3 mb-lg-0">
						<div>
							<h4>Frappé - <span>$285</span></h4>
							<p>Base de café, mezclado con hielo y crema batida, probalo en distintos sabores</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 text-center mt-5">
				<a href="/menu" class="btn btn-black rounded">Ver menú</a>
			</div>
		</div>
	</div>
</section>
<!-- Menú end -->

</body>