<body>
  <div class="preloader">
    <img src="images/preloader.gif" alt="preloader" class="img-fluid">
  </div>

<!--  Banner start -->
<section class="slider-hero hero-slider  hero-style-1  ">
  <div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
      <!-- start slide-item -->
      <div class="swiper-slide slide-item">
        <div class="slide-inner slide-bg-image main-sider-inner" data-background="images/banner/slide-1.jpg">
          <!-- <div class="overlay"></div> -->
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <span data-swiper-parallax="300" class="text-primary font-extra font-md">Bienvenidos a Kopi Coffee</span>
                <h1 class="mt-3 mb-5 text-lg text-white" data-swiper-parallax="400">Conseguí los desayunos y meriendas más ricas para compartir o regalar</h1>
                <a href="/menu" class="btn btn-main mr-3 rounded" data-swiper-parallax="500">Ver menú</a>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <!-- end slide-item -->
      
      <!-- start slide-item -->
      <div class="swiper-slide slide-item">
        <div class="slide-inner slide-bg-image main-sider-inner" data-background="images/banner/slide-2.jpg">
          <!-- <div class="overlay"></div> -->
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <h1 class="mt-3 mb-5 text-lg text-white" data-swiper-parallax="400">A todos tus favoritos le agregamos más de eso que tanto te gusta</h1>
                <a href="/menu" class="btn btn-main mr-3 rounded" data-swiper-parallax="500">Ver menú</a>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <!-- end slide-item -->
      
      <!-- start slide-item -->
      <div class="swiper-slide slide-item">
        <div class="slide-inner slide-bg-image main-sider-inner" data-background="images/banner/slide-3.jpg">
          <!-- <div class="overlay"></div> -->
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <h1 class="mt-3 mb-5 text-lg text-white" data-swiper-parallax="400">Comprá todos tus productos favoritos y te los llevamos a tu casa</h1>
                <a href="/tienda" class="btn btn-main mr-3 rounded" data-swiper-parallax="500">Ver tienda</a>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <!-- end slide-item -->
    </div>
    <!-- end swiper-wrapper -->
    <!-- swipper controls -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
<!--  Banner End -->

<!-- About Kopi Coffee start -->
<section class="section about">
	<div class="container">
		<div class="row  justify-content-center mb-5">
			<div class="col-lg-8 text-center">
				<span class="text-primary font-extra font-md">Acerca de Kopi Coffee</span>
				<h2 class="mt-3 mb-4">Amamos lo que hacemos y trabajamos para que tu visita sea ante todo una experiencia</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="fade-up">
				<img src="images/about/img-1.jpg" alt="" class="img-fluid">
				<div class="mt-3">
					<h3>Cafes especiales</h3>
					<p>Una edición de exclusivos sabores, realizados con el mejor Café Colombia.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
				<img src="images/about/img-2.jpg" alt="" class="img-fluid">
				<div class="mt-3">
					<h3>Descubrí nuevos sabores</h3>
					<p>Le dimos un nuevo sentido a todo lo rico que ya conocés y te encanta.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="600">
				<img src="images/about/img-3.jpg" alt="" class="img-fluid">
				<div class="mt-3">
					<h3>Tiendas renovadas</h3>
					<p>Veni a conocer nuestra nueva imagen, ¡Te vas a sorprender!</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About Kopi Cofee end -->

<!-- Ad start -->
<section class="section cta">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<span class="font-extra text-md-2 text-white-70">Prepare The Best Dishes</span>
				<h2 class="mt-3 text-white mb-4">Come & Experience Our Best of World Class Cousine</h2>

				<a href="#" class="btn btn-white rounded">book now</a>
			</div>
		</div>
	</div>
</section>
<!-- Ad end -->

<!-- Menú start -->
<section class="section menu">
	<div class="container">
		<div class="row  justify-content-center mb-5">
			<div class="col-lg-8 text-center">
				<span class="text-primary font-extra font-md">Nuestro café</span>
				<h2 class="mt-3 mb-4">Primero café, luego todo lo demás</h2>
			</div>
		</div>


		<div class="row shuffle-wrapper food-gallery">
			<div class="col-lg-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;,&quot;illustration&quot;]">
				<div class="menu-item position-relative ">
					<div class="d-flex align-items-center">
						<img src="images/menu/menu-1.jpg" alt="" class="img-fluid mb-3 mb-lg-0">
						<div>
							<h4>Vitello Tonato - <span>23$</span></h4>
							<p>Chinese mustard/Chipotle aiol</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;branding&quot;]">
				<div class="menu-item position-relative ">
					<div class="d-flex align-items-center">
						<img src="images/menu/menu-2.jpg" alt="" class="img-fluid mb-3 mb-lg-0">
						<div>
							<h4>Crema di Pomodoro - <span>34$</span></h4>
							<p>Chinese mustard/Chipotle aiol</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
				<div class="menu-item position-relative ">
					<div class="d-flex align-items-center">
						<img src="images/menu/menu-3.jpg" alt="" class="img-fluid mb-3 mb-lg-0">
						<div>
							<h4>Oatmeal Cookie - <span>13$</span></h4>
							<p>Chinese mustard/Chipotle aiol</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;,&quot;branding&quot;]">
				<div class="menu-item position-relative ">
					<div class="d-flex  align-items-center">
						<img src="images/menu/menu-4.jpg" alt="" class="img-fluid mb-3 mb-lg-0">
						<div>
							<h4>Seasonal Soup - <span>10$</span></h4>
							<p>Chinese mustard/Chipotle aiol</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
				<div class="menu-item position-relative ">
					<div class="d-flex align-items-center">
						<img src="images/menu/menu-5.jpg" alt="" class="img-fluid mb-3 mb-lg-0">
						<div>
							<h4>Pizza Pane - <span>28$</span></h4>
							<p>Chinese mustard/Chipotle aiol</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;]">
				<div class="menu-item position-relative ">
					<div class="d-flex align-items-center">
						<img src="images/menu/menu-6.jpg" alt="" class="img-fluid mb-3 mb-lg-0">
						<div>
							<h4>Carpacio - <span>20$</span></h4>
							<p>Chinese mustard/Chipotle aiol</p>
						</div>

					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;branding&quot;]">
				<div class="menu-item position-relative ">
					<div class="d-flex align-items-center">
						<img src="images/menu/menu-7.jpg" alt="" class="img-fluid mb-3 mb-lg-0">
						<div>
							<h4>Insalata Rucola - <span>15$</span></h4>
							<p>Chinese mustard/Chipotle aiol</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mb-4 shuffle-item"
				data-groups="[&quot;design&quot;,&quot;illustration&quot;,&quot;branding&quot;]">
				<div class="menu-item position-relative ">
					<div class="d-flex align-items-center">
						<img src="images/menu/menu-8.jpg" alt="" class="img-fluid mb-3 mb-lg-0">
						<div>
							<h4>Carpacio - <span>13$</span></h4>
							<p>Chinese mustard/Chipotle aiol</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 text-center mt-5">
				<a href="/menu" class="btn btn-black rounded">Ver menú</a>
			</div>
		</div>
	</div>
</section>
<!-- Menú end -->

<!-- Slider Instagram -->
<section class="instgram position-relative">
	<div class="row  justify-content-center mb-5">
		<div class="col-lg-8 text-center">
			<span class="text-primary font-md">#KOPICOFFEE</span>
			<p class="mt-3 mb-4">Disfrutaste tu visita a Kopi Coffee? Comparte tus momentos favoritos</p>
		</div>
	</div>
  <div class="container-fluid p-0 ">
    <div class="row no-gutters ">
      <h3 class="insta-title rounded">@Instagram</h3>

      <div class="swiper-container" id="gallery-slider">
        <!-- for instagram post remove comments from bottom line and replace your user id and access token -->
        <!-- <div class="swiper-wrapper" id="instafeed" data-userId="4044026246" data-accessToken="4044026246.1677ed0.8896752506ed4402a0519d23b8f50a17"></div> -->

        <!-- this is static images. after setup instagram, remove this bottom code to the end -->
        <div class="swiper-wrapper" id="instafeed">
          <!-- Slides -->
          <div class="swiper-slide">
            <a class="popup-gallery" href="images/gallery/gallery-4.jpg">
              <img src="images/gallery/gallery-4.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="swiper-slide">
            <a class="popup-gallery" href="images/gallery/gallery-3.jpg">
              <img src="images/gallery/gallery-3.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="swiper-slide">
            <a class="popup-gallery" href="images/gallery/gallery-5.jpg">
              <img src="images/gallery/gallery-5.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="swiper-slide">
            <a class="popup-gallery" href="images/gallery/gallery-7.jpg">
              <img src="images/gallery/gallery-7.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="swiper-slide">
            <a class="popup-gallery" href="images/gallery/gallery-1.jpg">
              <img src="images/gallery/gallery-1.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="swiper-slide ">
            <a class="popup-gallery" href="images/gallery/gallery-2.jpg">
              <img src="images/gallery/gallery-2.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="swiper-slide">
            <a class="popup-gallery" href="images/gallery/gallery-3.jpg">
              <img src="images/gallery/gallery-3.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="swiper-slide">
            <a class="popup-gallery" href="images/gallery/gallery-4.jpg">
              <img src="images/gallery/gallery-4.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="swiper-slide">
            <a class="popup-gallery" href="images/gallery/gallery-5.jpg">
              <img src="images/gallery/gallery-5.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>
  </div>
</section>

</body>