<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
      <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
      <link rel="stylesheet" href="/plugins/themify/css/themify-icons.css">
      <link rel="stylesheet" href="/plugins/icofont/icofont.min.css">
      <link rel="stylesheet" href="/plugins/fontawesome/css/all.css">
      <link rel="stylesheet" href="/plugins/aos/aos.css">
      <link rel="stylesheet" href="/plugins/magnific-popup/magnific-popup.css">
      <link rel="stylesheet" href="/plugins/video-popup/modal-video.min.css">
      <link rel="stylesheet" href="/plugins/swiper/swiper.min.css">
      <link rel="stylesheet" href="/plugins/date-picker/datepicker.min.css">
      <link rel="stylesheet" href="/plugins/clock-picker/clockpicker.min.css">
      <link rel="stylesheet" href="/plugins/bootstrap-touchpin/jquery.bootstrap-touchspin.min.css">
      <link rel="stylesheet" href="/plugins/devices.min.css">
	  <link href="/stylesheets/style.css" rel="stylesheet">

      <!--Favicon-->
      <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" href="/">
      <link rel="icon" href="images/favicon.png" type="image/x-icon">
  </head>

<body>

<header class="navigation ">
	<nav class="navbar navbar-expand-lg main-nav py-lg-3 position-absolute w-100" id="main-nav">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img src="/images/logo.png" alt="" class="img-fluid">
			</a>

			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation"
				aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa fa-bars"></span>
			</button>

			<div class="collapse navbar-collapse" id="navigation">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Inicio</a></li>
					<li class="nav-item"><a class="nav-link" href="/menu">Menú</a></li>
					<li class="nav-item"><a class="nav-link" href="/tienda">Tienda</a></li>
					<li class="nav-item"><a class="nav-link" href="/contacto" class="nav-link">Contacto</a></li>
					<li class="nav-item">
						<a class="nav-link" href="/login">
							<i class="fas fa-user fa-lg"></i>
							<span id="usuario">{{usuario}}</span>
						</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/carritoCompras"><i class="fas fa-shopping-cart fa-lg"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

  {{{body}}}

    <script src="/plugins/jQuery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/plugins/aos/aos.js"></script>
    <script src="/plugins/shuffle/shuffle.min.js"></script>
    <script src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/plugins/date-picker/datepicker.min.js"></script>
    <script src="/plugins/clock-picker/clockpicker.min.js"></script>
    <script src="/plugins/video-popup/jquery-modal-video.min.js"></script>
    <script src="/plugins/swiper/swiper.min.js"></script>
    <script src="/plugins/bootstrap-touchpin/jquery.bootstrap-touchspin.min.js"></script>
	<script src="/javascripts/script.js"></script>

<!--Footer start -->
<footer class="section footer">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-3 mb-5 mb-lg-0">
				<div class="widget">
					<h4 class="mb-3">Kopi Coffee</h4>
					<p>Le dimos un nuevo sentido a todo lo rico que ya conocés y te encanta.</p>

					<ul class="list-inline footer-socials mt-4">
						<li class="list-inline-item">
								<i class="fab fa-instagram fa-lg"></i>
							</a>
						</li>
						<li class="list-inline-item">
								<i class="fab fa-facebook-f fa-lg"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-4 ml-auto col-md-5 mb-5 mb-lg-0">
				<div class="widget">
					<h4 class="mb-3">Contacto</h4>

					<ul class="list-unstyled mb-0 footer-contact">
						<li><i class="ti-mobile"></i>5889-2352</li>
						<li><i class="ti-email"></i>kopicoffe@gmail.com</li>
						<li><i class="ti-map"></i>Honduras 5500, Buenos Aires</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 mb-5 mb-lg-0">
				<div class="widget">
					<h4 class="mb-3">Horarios</h4>

					<div class="info mb-4">
						<p class="mb-0">Lunes - Viernes</p>
						<h5>07:30 AM - 20:00 PM</h5>
					</div>
					<div class="info">
						<p class="mb-0">Sábado - Domingo</p>
						<h5>09:00 AM - 21:00 PM</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<section class="footer-btm py-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left">
					<p class="mb-0 ">Copyright &copy; 2020 Kopi Coffee</p>

					<div class="footer-menu mt-3 mt-lg-0">
						<ul class="list-inline mb-0">
							<li class="list-inline-item pl-2"><a href="/">Inicio</a></li>
							<li class="list-inline-item pl-2"><a href="/menu">Menú</a></li>
							<li class="list-inline-item pl-2"><a href="/tienda">Tienda</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Footer  End -->
</body>
</html>
