<section class="section-header bg-1">
  <div class="container">	
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h1 class="text-capitalize mb-4 font-lg text-white">Nuestro menú</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section menu-3">
	<div class="container">
		<div class="row  justify-content-center mb-5">
			<div class="col-lg-8 text-center">
				<span class="text-primary font-extra font-md">Descubrí nuevos sabores</span>
				<h3 class="mt-3 mb-4">Escribimos más sabores en nuestro menú, pensamos más colores para nuestros platos y le dimos un nuevo sentido a todo lo rico que ya conocés y te encanta</h3>
			</div>
		</div>
    <div class="container">
      <div class="row  justify-content-center mb-5">
        <a class="btn btn-main btn-lg active rounded" target="_blank" href="/files/Entity relationship diagram_Proyecto.pdf">Descargar menú</a>
      </div>
    </div>
</section>